<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hola mundo</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <!-- Control absoluto de este div -->
  <div id="myApp">
      <h1>Batman quotes <small>|| {{newQuote}}</small></h1>
      <input
        type="text"
        v-model="newQuote"
        @keypress.enter="addQuote">
      
      <hr>
      
      <ul>
        <li v-for="({quote, author}, index) in quotes">
          <span>{{index + 1}} {{quote}}</span>
          <blockquote v-show="author">-{{author}}</blockquote>
          <!-- <blockquote v-if="author">-{{author}}</blockquote> -->
        </li>

      </ul>


  </div>
  
  
  <script src="app.js"></script>
</body>
</html>